## Advanced python variable creating

In [1]:
d = {'foo':1, 'bar':2.3, 's':'my first dictionary'}

In [2]:
print d

{'s': 'my first dictionary', 'foo': 1, 'bar': 2.3}

In [4]:
print d['foo']

1

In [5]:
n = None

In [6]:
type(n)

NoneType

## Advanced printing

In [7]:
print "our float value is %.s. our integer value is %s." % {f, i}

NameError: name 'f' is not defined

In [8]:
i = 4

In [9]:
f = 4.1

In [13]:
print "our float value is %s. our integer value is %s." % (f, i)

our float value is 4.1. our integer value is 4.

## Conditional statements in python

In [15]:
if i == 1 and f > 4:
    print "The value of i is 1 and f is greater than 4."
elif i > 4 or f > 4:
    print "i and f are both greater than 4."
else:
    print "Both i and f are less than or equal to 4."

i and f are both greater than 4.

## Conditional loops

In [16]:
l = [3,1,2]

In [17]:
print l

[3, 1, 2]

In [18]:
for e in l:
    print e

3
1
2

In [19]:
while counter < 10:
    print counter
    counter += 1

NameError: name 'counter' is not defined

In [20]:
counter = 6

In [21]:
while counter < 10:
    print counter
    counter += 1

6
7
8
9

## Creating functions in Python

In [22]:
def add2(x):
    y = x + 2
    return y

In [23]:
i = 5

In [24]:
add2(i)

7

In [25]:
square = lamda x: x*x

SyntaxError: invalid syntax (<ipython-input-25-0e39c9e8648a>, line 1)

In [26]:
square = lambda x: x*x

In [27]:
square(3)

9

## SFrames

In [28]:
import graphlab

ImportError: No module named graphlab

In [3]:
import graphlab

## Load a tabular dataset

In [1]:
sf = graphlab.SFrame(people-example.csv)

NameError: name 'graphlab' is not defined

In [2]:
import graphlab

In [3]:
sf = graphlab.SFrame(people-example.csv)

NameError: name 'people' is not defined

In [4]:
sf = graphlab.SFrame('people-example.csv')

[INFO] 1449532477 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_FILE to /Users/Cissy/.graphlab/anaconda/lib/python2.7/site-packages/certifi/cacert.pem
1449532477 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_DIR to
This non-commercial license of GraphLab Create is assigned to qian.wang417@gmail.com and will expire on December 06, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-2323 - Server binary: /Users/Cissy/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1449532477.log
[INFO] GraphLab Server Version: 1.7.1

PROGRESS: Finished parsing file /Users/Cissy/iPython Notebook/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.027788 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/Cissy/iPython Notebook/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.00931 secs.

## SFrame basics

In [5]:
sf #we can view first few linesof table

Columns:
	First Name,Last Name,Country,age	str

Rows: 7

Data:
+--------------------------------+
| First Name,Last Name,Count...  |
+--------------------------------+
| Bob,"Smith","United States",24 |
|  Alice,"Williams","Canada",23  |
|  Malcolm,"Jone","England",22   |
|     Felix,"Brown","USA",23     |
|   Alex,"Cooper","Poland",23    |
| Tod,"Campbell","United Sta...  |
| Derek,"Ward","Switzerland",25  |
+--------------------------------+
[7 rows x 1 columns]

In [7]:
sf = graphlab.SFrame('people-example.csv')

PROGRESS: Finished parsing file /Users/Cissy/iPython Notebook/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.009794 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/Cissy/iPython Notebook/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.009886 secs.

In [8]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [9]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [10]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

## GraphLab Canvas

In [11]:
#Take any data structure in graphlab create
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:52969/index.html
Opening Canvas in default web browser.

In [13]:
graphlab.canvas.set_target('ipynb')

In [15]:
sf['age'].show(view='Categorical')

## Inspect columns of dataset

In [16]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [17]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [18]:
sf['age'].mean()

23.142857142857146

In [19]:
sf['age'].max()

25

## Create new columns in our SFrame

In [20]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [21]:
sf['Full Name'] = sf['First Name'] + sf['Last Name']

In [22]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |
|   Felix    |   Brown   |      USA      |  23 |   FelixBrown  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]

In [23]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [24]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [25]:
sf['age'] + 2

dtype: int
Rows: 7
[26, 25, 24, 25, 25, 24, 27]

In [27]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

## Use the .apply() function to do an advanced transformation of our data

In [28]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [29]:
sf['Country'].show()

In [30]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [31]:
transform_country('Brazil')

'Brazil'

In [32]:
transform_country('USA')

'United States'

In [33]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [34]:
sf['Country'] = sf['Country'].apply(transform_country)

In [35]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]